# Gradle
.gradle
build/
local.properties
*.iml
.idea/
.idea/workspace.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.DS_Store
/captures/
externalNativeBuild/
.cxx/

# Keystores & secrets – never commit these!
*.jks
*.keystore
release.keystore
app/google-services.json

# Android Studio navigation editor temp files
.navigation/

# Gradle cache
.gradle/caches/

# Android
captures/
.externalNativeBuild/
.cxx/

# APK
*.apk
*.ap_